{% extends 'backend/layout.html' %}
{% load static %}

{% block head %}

<title>Application</title>
<style>
    html {
        height: 100%;
        width: 100%;
    }
    h1 {
        font-size: 72px;
        font-family: sans-serif; 
    }
    body {
    height: 100%;
    width: 100%;
    background: url("{% static 'backend/voodoo_bg.jpg' %}") top no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

  }
  #close_a {
    position: absolute;
    top: 9%;
    left: 5%;
    }
    
    #close_a img {
    width: 30px;
    }
    
    #close_a {
    font-family: sans-serif;
    text-decoration: none !important;
    font-weight: bold;
    color: #262626;
    font-size: 1.6vw;
    }
</style>

{% endblock %}

{% block body %}

<center>
   
    <h1>
        This page is under development<br/>
        Please see Doge below
    </h1>
     <div class="doge">
        <img src="{% static 'backend/yet_doge.png' %}" alt="yet_doge">
    </div>
</center>
<a id="close_a"  href="{% url 'index' %}">
    <img src="{% static 'backend/close_a.png' %}" />
    <span>
        Back
    </span>
  </a>

{% endblock %}