{% extends 'backend/layout.html' %}
{% load static %}

{% block head %}
<title>Careers</title>
{% endblock %}

{% block body %}
<div class="row" width="100%" style="justify-content: center; padding-top: 7%; ">
    <div class="col-" style="justify-content: center;">
       <div class="col">
            <a class="int-links" id="mecha" href="{% url 'mecha' %}" target="_blank" rel="nofollow noopener">Mecha</a>
       </div>
    </div>
    <div class="col-" style="justify-content: center;">
        <div class="col">   
            <a class="int-links" id="woodoo" href="{% url 'woodoo' %}" style="background-color: rgb(94, 18, 160);" target="_blank" rel="nofollow noopener">Woodoo</a>
        </div>
    </div>
</div>



{% endblock%}