{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        {% endblock %}
        
    </head>
    <body>
        
        {% block body %}
        {% endblock %}
        <!-- <div class="row" width="100%">
            <div class="col">
            <ul class="nav223">
                <li class="nav223">
                  <a href="https://www.facebook.com/mtithefutureinmotion/" target="_blank">
                <i class="fab fa-facebook-f icon"></i></a>
                </li>
                <li class="nav223">
                  <a href="http://www.davall.co.uk/" target="_blank"><i class="fa fa-globe icon"></i></a>
                </li>
                <li class="nav223">
                  <a href="https://www.linkedin.com/company/davall-gears-ltd/" target="_blank"><i class="fab fa-linkedin-in icon"></i></a></li>
                <li class="nav223">
                  <a href="https://www.instagram.com/mtimotion/" target="_blank"><i class="fab fa-instagram icon"></i></a></li>
              </ul> 
            </div>
        </div> -->
    </body>
</html>