{% extends 'backend/layout.html' %}
{% load static %}

{% block head %}
<title>Woodoo</title>
{% endblock %}

{% block body %}

<div class="row" width="100%" style="justify-content: center; padding-top: 1%; ">
            <div class="col-" style="justify-content: center;">
               <div class="col">
                    <a class="int-links" href="{% url 'mecha' %}" id="mecha" target="_blank" rel="nofollow noopener">Mecha</a>
               </div>
            </div>
        </div>

<div class="row" width="100%" style="justify-content: center;">
<div class="waviy">
    <span style="--i:1">L</span>
    <span style="--i:2">o</span>
    <span style="--i:3">a</span>
    <span style="--i:4">d</span>
    <span style="--i:5">i</span>
    <span style="--i:6">n</span>
    <span style="--i:7">g</span>
    <span style="--i:8">.</span>
   </div>
</div>
{% endblock%}