
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100pt;
  }
  
  /* .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
   */
    .button {
      min-width: 300px;
      min-height: 60px;
      font-family: 'Nunito', sans-serif;
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      font-weight: 700;
      color: #e0e0e4;
      background: #e451e4;
    background: linear-gradient(90deg, rgb(240, 94, 206) 0%, rgb(202, 84, 194) 100%);
      border: none;
      border-radius: 1000px;
      box-shadow: 12px 12px 24px rgba(240,94,197,.64);
      transition: all 0.3s ease-in-out 0s;
      cursor: pointer;
      outline: none;
      position: relative;
      padding: 10px;
      }


  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #e76bfd;
    box-shadow: 0 0 60px rgba(234, 0, 255, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #e0e0e4;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #f838f1;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  #close_a {
    position: absolute;
    top: 35%;
    left: 5%;
    }
    
    #close_a img {
    width: 30px;
    }
    
    #close_a {
    font-family: sans-serif;
    text-decoration: none !important;
    font-weight: bold;
    color: #262626;
    font-size: 1.6vw;
    }
    

    ul.nav223 {
      display: flex;
      position: absolute;
      bottom: -105%;
      left: 50%;
      transform: translate(-50%, -50%);
      }
      
      ul.nav223 li {
      list-style: none;
      }
      
      ul.nav223 li a {
      width: 80px;
      height: 80px;
      background-color: #fff;
      text-align: center;
      line-height: 80px;
      font-size: 35px;
      margin: 0 10px;
      display: block;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      border: 3px solid #fff;
      z-index: 1;
      }
      
      ul.nav223 li a .icon {
      position: relative;
      color: #262626;
      transition: .5s;
      z-index: 3;
      }
      
      ul.nav223 li a:hover .icon {
      color: #fff;
      transform: rotateY(360deg);
      }
      
      ul.nav223 li a:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #f00;
      transition: .5s;
      z-index: 2;
      }
      
      ul.nav223 li a:hover:before {
      top: 0;
      }
      
      ul.nav223 li:nth-child(1) a:before{
      background: #3b5999;
      }
      
      ul.nav223 li:nth-child(2) a:before{
      background: #55acee;
      }
      
      ul.nav223 li:nth-child(3) a:before {
      background: #0077b5;
      }
      
      ul.nav223 li:nth-child(4) a:before {
      background: #dd4b39;
      }
      .col {
      padding: 55pt;
      }
      .raw {
        position: absolute;
        bottom: -55%;
      }